.contacts {
  margin-bottom: 115px;
  max-width: 1300px;
  min-height: 350px;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 75px; }

.search {
  position: relative;
  margin-bottom: 37px; }

.search svg {
  position: absolute;
  top: 29%;
  right: 3%; }

.searchInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: #2B1B1B;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 30px;
  color: #DFCF77;
  line-height: 44px;
  font-weight: 300;
  padding: 20px 100px 20px 20px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s; }
  .searchInput::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(223, 207, 119, 0.27); }
  .searchInput:-ms-input-placeholder {
    opacity: 1;
    color: rgba(223, 207, 119, 0.27); }
  .searchInput::-ms-input-placeholder {
    opacity: 1;
    color: rgba(223, 207, 119, 0.27); }
  .searchInput::placeholder {
    opacity: 1;
    color: rgba(223, 207, 119, 0.27); }
  .searchInput:focus {
    border-color: #DFCF77; }

.addNewButton {
  display: block;
  width: 100%;
  padding: 29px 40px;
  background: none;
  border: 1px solid rgba(217, 202, 116, 0.2);
  border-radius: 8px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #D9CA74;
  cursor: pointer; }
  .addNewButton:hover {
    border-color: rgba(217, 202, 116, 0.5); }
